<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.DeviceInfo" version="2.2.0" targetFramework="MonoAndroid50" />
  <package id="Acr.UserDialogs" version="3.4.1" targetFramework="MonoAndroid50" />
  <package id="Autofac" version="3.5.2" targetFramework="MonoAndroid50" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="MonoAndroid50" />
  <package id="Fody" version="1.28.3" targetFramework="MonoAndroid50" developmentDependency="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="MonoAndroid50" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="MonoAndroid50" />
  <package id="PropertyChanged.Fody" version="1.50.1" targetFramework="MonoAndroid50" developmentDependency="true" />
  <package id="Share.Plugin.Xamarin.Forms" version="1.0.0.0" targetFramework="MonoAndroid50" />
  <package id="SQLite.Net.Async-PCL" version="3.0.5" targetFramework="MonoAndroid50" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="MonoAndroid50" />
  <package id="SQLiteNetExtensions" version="1.3.0" targetFramework="MonoAndroid50" />
  <package id="SQLiteNetExtensions.Async" version="1.3.0" targetFramework="MonoAndroid50" />
  <package id="Xam.Plugin.Contacts" version="1.0.0-alpha3" targetFramework="MonoAndroid50" />
  <package id="Xam.Plugin.Geolocator" version="1.0.2" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Auth.NoXamStore" version="1.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="MonoAndroid50" />
  <package id="XLabs.Core" version="2.0.5679" targetFramework="MonoAndroid50" />
  <package id="XLabs.Forms" version="2.0.5679" targetFramework="MonoAndroid50" />
  <package id="XLabs.IoC" version="2.0.5679" targetFramework="MonoAndroid50" />
  <package id="XLabs.Platform" version="2.0.5679" targetFramework="MonoAndroid50" />
  <package id="XLabs.Serialization" version="2.0.5679" targetFramework="MonoAndroid50" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="MonoAndroid50" />
</packages>